
.main-container {
    min-width: 100%;
    justify-content: center;
}

.upload-button{
    min-width:100%
}

.file-upload-card{
    max-width: fit-content;
    margin-left: auto; 
    margin-right: auto;
}
