.audio-play-pause {
    border-radius: 50% !important;
    vertical-align: middle !important;
}

.audio-play-pause-wrapper {
    width: 70px;
    height: 68px;
    float: right;
    display: table-cell;
    line-height: 68px
}